
body{
    margin: 0 0 0 0;
    background-color:  lightgray;
    height: 2000px;
    
}

#top {
position: absolute; bottom: 230px; left: 50px;
width: 30%;
}

.myname {
    position: absolute; bottom: 160px; left: 610px;
    font-family: "Roboto", sans-serif;
    width: 500px;
    color: black;
    }

    .dates {
        color: blueviolet;
    }

    .jobrole {
        color: orangered;
        font-size: 1.2em;
    }

    .location {
        color: green;
    }

.jobtitle {
    position: relative; bottom: 140px; left: 620px;
    color: orangered;
    font-family: "Roboto", sans-serif;
}

#parent {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    position: relative; bottom: 200px;
  }
  
  #left {
    width: 300px;
    position: relative; bottom: 50px; left: 110px;
    font-family: "Roboto", sans-serif;


  }
  
  #right {
    width: 200px;
    position: relative; bottom: 30px;
    font-family: "Roboto", sans-serif;
  }

  #prosum {
    color: orangered;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    position: relative; left: 798px; top: 80px;
    width: 300px;
  }

  #prosumparagraph {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    position: relative; left: 1000px; top: 40px;
    float: right;
    width: 400px;
  }

  .imageofme {
    border-radius: 50%;
    position: relative; left: 45%; top: 120px;
    border:2px solid; color: orangered;
    padding: 0px; color: black;
    
      
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }

    

    #contact {
        position: relative; bottom: 20px; right: 35px;
        font-family: "Roboto", sans-serif;
    }

    #hr1 {
        position: relative; top: 120px;
    }

    .linkedinicon {
        position: absolute; bottom: 62%; left: 5%;
        width: 26px;
        animation: rotation 0.5s linear;
    }

    .emailicon {
        position: absolute; bottom: 74%;  left: 5%;
        width: 26px;
        animation: rotation 0.3s linear;
    }

    .mapicon {
        position: absolute; bottom: 68%; left: 5%;
        width: 26px;
        animation: rotation 0.4s linear;
    }

    .phoneicon {
        position: absolute; bottom: 80%; left: 5%;
        width: 26px;
        animation: rotation 0.2s linear;
    }

#hr2 {
  border-left: 1px solid black;
  height: 2000px;
  width: 1px;
  position: relative; bottom: 1000px; right: 300px;
}

.experience {
    width: 600px;
    height: 35%;
    position: relative; bottom: 2320px; left: 35%;
    font-weight: bolder;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

h3 {
    color: orangered;
    font-family: "Roboto", sans-serif;
}

#myeducation {
    width: 300px;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    position:relative ; right: 340px; top: 270px;
    float: left;
    
    
    
}

#strengthsdiv {
    width: 300px;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    position:relative ; right: 560px; top: 500px;
    float: left;
}

#computerskillsdiv {
    width: 300px;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    position:relative ; right: 775px; top: 850px;
    float: left;
}

#achievmentsdiv {
    width: 300px;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    position:relative ; right: 985px; top: 1150px;
    float: left;
}

#personalachievmentsdiv {
    width: 300px;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    position:relative ; right: 1200px; top: 1530px;
    float: left;
}

.h3experience {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 1000;
}

ul {
   font-family: "Roboto", sans-serif;
}